<html>
<head>
    <title>Simple tasks</title>
    <link rel="stylesheet" href="css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script src="js/websockets.js"></script>
    <script src="js/app.js"></script>
</head>

<body onload="onLoad()">
    <div id='wrapper'>
        <div id="titleBar"></div>
        <div id="contentContainer"></div>
        <div class='spacer'></div>
        <div id="inputLine"></div>
    </div>
</body>

</html>
