<html>
<head>
    <title>Simple tasks</title>

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>

    <link rel="stylesheet" href="css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script src="js/websockets.js"></script>
    <script src="js/app.js"></script>
    <script src="js/Entry.js"></script>

    <script>
        // Store variables from Flask
        var clientID = '{{clientId}}';

        function onLoad() {
            // console.clear();

            var contentContainer = document.getElementById('contentContainer');
            var inputLine = document.getElementById('inputLine');
            var titleBar = document.getElementById('titleBar');
            var body = document.body;

            createInputLine()

            connectToWebSocket();

            document.onkeydown = globalKeyDownHandler;

            keyHandlers[FOCUS_INPUT_LINE] = inputLineKeyDownHandler;
            keyHandlers[FOCUS_TITLE] = titleKeyDownHandler;
            keyHandlers[FOCUS_CONTENT] = contentKeyDownHandler;

            init();
        }
    </script>
</head>

<body onload="onLoad();">
    <div id='wrapper'>
        <div id="titleBar"></div>
        <div id="contentContainer"></div>
        <div class='spacer'></div>
        <!--
            <div class='clientIdLabel'>{{clientId}}</div>
        -->
        <div id="inputLine"></div>
    </div>
</body>

</html>
