:root {
    --tasksGreen: #398513ff;

    --outerContentBackground: #292b2f;
    --entryBackground: #2f3136;
    --entryBorder: #5559;

    --subEntriesBackground: #0001;
    --subTasksCounterLabel: #fff3;

    --bodyBackground: #36393f;
    --inputElementsBackground: #40444b;
    --dashedCut: #ddd;
    --fontColor: #fafafa;
}

body {
    background-color: var(--bodyBackground);
    margin: 0;
    padding: 0;
    color: var(--fontColor);
    font-family: 'Roboto', sans-serif;
}
#wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
#contentContainer {
    display: flex;
    flex-flow: column;
    overflow: auto;
    /*
    padding-right: 5px;
    */
}
::-webkit-scrollbar {
    display: none;
}
.spacer{
    flex: 1;
}
#inputLine {
    flex: 0;
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 7px;
    background-color: var(--outerContentBackground);
}

#inputLine input {
    flex: 1;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14pt;
    background-color: var(--inputElementsBackground);
    min-width: 0;
    border: 0;
    color: var(--fontColor);
}

#inputLine div {
    flex: 0;
    display: flex;
}
#inputLine div button {
    flex: 1;
    font-size: 12pt;
    padding-left: 15px;
    padding-right: 15px;
    border: 0;
    color: var(--fontColor);
    background-color: var(--inputElementsBackground);
}

#titleBar {
    display: flex;
    flex-flow: row;
    flex: 0;
    background-color: var(--outerContentBackground);
    padding: 10px;
    align-items: center;

    /*
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    */
}

#homebutton {
    flex: 0;
    display: flex;
    margin-left: -2;
    border-radius: 10%;
}
#homebutton img{
    flex: 1;
    height: 30px;
    padding: 7px;
}
#homebutton.customstartingpath {
    /*border: 1px solid #398513ff;*/
    border: 1px solid var(--tasksGreen);
}

.backbutton {
    flex: 0;
    cursor: pointer;
    font-size: 140%;
    font-weight: bold;
    min-width: 50px;
    text-align: center;
}
.title {
    flex: 1;
    border-bottom: 1px solid var(--fontColor);
    /*
    */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;

    cursor: text;

    text-align: left;
    font-size: 16pt;
}

.entryWrapper {
    display: flex;
    flex-flow: column;
    flex: 1;

    background-color: var(--entryBackground);
    /*
    border-left: 1px solid #000;
    */
    border: 1px solid var(--entryBorder);

    border-radius: 3px;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;

    margin: 5px;
    font-family: 'Roboto', sans-serif;

    cursor: default;
}
.entryWrapper .entryWrapper {
    background-color: var(--subEntriesBackground);
    margin-right: -5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0px;
}

.entryWrapper.cut {
    border: 1px dashed var(--dashedCut);;
}

.actualTask{
    margin-left: 5px;
    flex: 1;

    display: flex;
    flex-flow: row;
    align-items: center;

}
.subTasks{
    margin-right: 0px;
    flex: 1;
    display: flex;
    flex-flow: column;
}

.entryWrapper.focused {
    /*
    border: 1px solid cyan;
    box-sizing: border-box; // this does not work, it should prevent the content size from resizing when showing border
    border-left: 5px solid cyan;
    background-color: #090a;
    background-color: #398513ff;
    */
    background-color: var(--tasksGreen);


}

.entryEnterButton {
    flex: 1;
}
.icon {
    flex: 0;

    padding: 2;
    padding-left:10;
    padding-right:10;

    margin-left:5;
    margin-right:5;
}
.titleactionbutton {
    width: 25px;
    text-align: center;
    padding: 7px;

    /*
    border: 1px solid #ccc;
    border-radius: 10px;
    */


    cursor: default;
}
.subcounter {
    background-color: var(--subTasksCounterLabel);

    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    cursor: default;
}

.actionBar {
    flex: 1;
    display: none;
    background-color: #0003;
    /*
    border-top: 1px solid white;
    border: 1px solid white;
    padding: 5px;
    */
    margin-top: 5px;
    margin-left: -5px;
    margin-right: -5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.actionBar > div {
    width: 42px;
    background-color: #0003;
    border-radius: 7px;

    padding: 3px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-left: 10px;
    margin-right: 10px;

    text-align: center;

    cursor: default;

    font-size: 75%;
}

.toolbar {
    flex: 0;

    display: flex;
    background-color: var(--outerContentBackground);
    padding: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
    /*
    justify-content: space-between;
    */
}

.toolbar > div {
    float: left;
    flex: 1;
    height: 30px;
    /*
    width: 55px;
    border: 1px solid black;
    */

    margin: 3px;
    padding: 3px;

    background-color: var(--inputElementsBackground);
    text-align: center;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toolbar > * > div {
    flex: 1;
    color: var(--fontColor);
    cursor: default;
    font-size: 0.8em;
}

#menuscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    display: none;
}
#menubackgroundclicker{
    background-color: #0009;
    width: 100%;
    height: 100%
}

#menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;

    display: block;
    flex-direction: column;
    height: 100%;
    background-color: #333;
    align-content: stretch;
    padding: 20px;
}

#menu > button {
    width: 100%;
    padding: 5px;
    font-size: 14pt;
    margin-top: 25px;
}

#pathInfo {
    position: absolute;
    right:0;
    margin: 0;
    padding-top: 5px;
    min-width: 100%;
    overflow-x: hidden;
    /*
    text-align: right;
    width: 100%;
    */
    background-color: #0000;
    color: var(--fontColor);

    font-family: monospace;
    font-size: 8pt;
    pointer-events: none;
}