body {
    background-color: rgb(77, 77, 77);
    background-color: #5a5a5a;
    margin: 0;
    padding: 0;
    color: #ddd;
}
#wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
#contentContainer {
    display: flex;
    flex-flow: column;
    overflow: auto;
}
::-webkit-scrollbar {
    display: none;
}
.spacer{
    flex: 1;
}
#inputLine {
    display: flex;
    flex-flow: column;

    padding: 10px;
    background-color: #2a2a2a;
}
#inputLine input {
    padding: 5px;

    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    background-color: #ccc;
}

#titleBar {
    display: flex;
    flex-flow: row;
    flex: 0;

    font-family: 'Oswald', sans-serif;

    background-color: #2a2a2a;
    padding: 10px;

    align-items: center;
    /*
    justify-content: center;
    */
}
.backbutton {
    flex: 0;
    cursor: pointer;
    font-size: 140%;
    font-weight: bold;
    min-width: 50px;
    text-align: center;
}
.title {
    flex: 1;
    border-bottom: 1px solid #ddd;
    /*
    */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    cursor: text;
    text-align: center;
    font-size: 18pt;
}

.entryWrapper {
    display: flex;
    flex-flow: row;
    flex: 1;

    background-color: #0006;
    border-radius: 3px;

    padding-left: 15px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 6px;

    font-family: 'Roboto', sans-serif;
    font-size: 14pt;

    align-items: center;
}

.focused{
    /*
    border: 1px solid cyan;
    box-sizing: border-box; // this does not work, it should prevent the content size from resizing when showing border
    */
    border-left: 5px solid cyan;
}

.entryEnterButton {
    flex: 1;
    cursor: pointer;
}
.icon {
    flex: 0;

    padding: 2;
    padding-left:10;
    padding-right:10;

    margin-left:5;
    margin-right:5;
}
.deletebutton {
    font-size: 140%;
    color:red;

    border: 2px solid red;
    border-radius: 100%;

    cursor: pointer;
}
.subcounter {
    background-color: #fff3;

    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: default;
    /*
    should allow click through...
    pointer-events: none;
    */
}
.clientIdLabel{
    text-align: right;
    padding: 2px;
    font-family: monospace;
    color: grey;
    font-size: 10pt;
    background-color: transparent;
    flex-wrap: wrap;
}