body {
    background-color: #666;
    margin: 0;
    padding: 0;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
}
#wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
#contentContainer {
    display: flex;
    flex-flow: column;
    overflow: auto;
    /*
    padding-right: 5px;
    */
}
::-webkit-scrollbar {
    display: none;
}
.spacer{
    flex: 1;
}
#inputLine {
    display: flex;
    flex-flow: column;

    padding: 10px;
    background-color: #333;
}
#inputLine input {
    padding: 5px;

    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    background-color: #ccc;
}

#titleBar {
    display: flex;
    flex-flow: row;
    flex: 0;
    background-color: #333;
    padding: 10px;
    align-items: center;

    /*
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    */
}
.backbutton {
    flex: 0;
    cursor: pointer;
    font-size: 140%;
    font-weight: bold;
    min-width: 50px;
    text-align: center;
}
.title {
    flex: 1;
    border-bottom: 1px solid #ddd;
    /*
    */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;

    cursor: text;

    text-align: left;
    font-size: 16pt;
}

.entryWrapper {
    display: flex;
    flex-flow: column;
    flex: 1;

    background-color: #555;
    border: 1px solid #000;
    border-radius: 3px;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;

    margin: 5px;
    font-family: 'Roboto', sans-serif;

    cursor: pointer;
}
.entryWrapper .entryWrapper {
    background-color: #0000001c;
    margin-right: -5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0px;
}

.actualTask{
    margin-left: 5px;
    flex: 1;

    display: flex;
    flex-flow: row;
    align-items: center;

}
.subTasks{
    margin-right: 0px;
    flex: 1;
    display: flex;
    flex-flow: column;
}

.entryWrapper.focused {
    /*
    border: 1px solid cyan;
    box-sizing: border-box; // this does not work, it should prevent the content size from resizing when showing border
    border-left: 5px solid cyan;
    */
    background-color: #090a;
}

.entryEnterButton {
    flex: 1;
}
.icon {
    flex: 0;

    padding: 2;
    padding-left:10;
    padding-right:10;

    margin-left:5;
    margin-right:5;
}
.titleactionbutton {
    flex: 0;
    text-align: center;

    border: 1px solid #ccc;
    border-radius: 10px;

    padding: 7px;

    cursor: pointer;
}
.subcounter {
    background-color: #fff3;

    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    cursor: pointer;
}
.clientIdLabel {
    text-align: right;
    padding: 2px;
    font-family: monospace;
    color: grey;
    font-size: 10pt;
    background-color: transparent;
    flex-wrap: wrap;
}

.actionBar {
    flex: 1;
    display: none;
    background-color: #0003;
    /*
    border-top: 1px solid white;
    border: 1px solid white;
    padding: 5px;
    */
    margin-top: 5px;
    margin-left: -5px;
    margin-right: -5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.actionButton{
    width: 42px;
    background-color: #0003;
    border-radius: 7px;

    padding: 3px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-left: 10px;
    margin-right: 10px;

    text-align: center;

    cursor: pointer;

    font-size: 75%;
}