body {
    background-color: #666;
    margin: 0;
    padding: 0;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
}
#wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
#contentContainer {
    display: flex;
    flex-flow: column;
    overflow: auto;
    /*
    padding-right: 5px;
    */
}
::-webkit-scrollbar {
    display: none;
}
.spacer{
    flex: 1;
}
#inputLine {
    display: flex;
    flex-flow: column;

    padding: 10px;
    background-color: #333;
}
#inputLine input {
    padding: 5px;

    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    background-color: #ccc;
}

#titleBar {
    display: flex;
    flex-flow: row;
    flex: 0;
    background-color: #333;
    padding: 10px;
    align-items: center;

    /*
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    */
}
.backbutton {
    flex: 0;
    cursor: pointer;
    font-size: 140%;
    font-weight: bold;
    min-width: 50px;
    text-align: center;
}
.title {
    flex: 1;
    border-bottom: 1px solid #ddd;
    /*
    */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;

    cursor: text;

    text-align: left;
    font-size: 16pt;
}

.entryWrapper {
    display: flex;
    flex-flow: column;
    flex: 1;

    background-color: #555;
    border: 1px solid #000;
    border-radius: 3px;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;

    margin: 5px;
    font-family: 'Roboto', sans-serif;
}
.entryWrapper .entryWrapper {
    background-color: #0000001c;
    margin-right: -5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0px;
}

.actualTask{
    margin-left: 5px;
    flex: 1;

    display: flex;
    flex-flow: row;
    align-items: center;

}
.subTasks{
    margin-right: 0px;
    flex: 1;
    display: flex;
    flex-flow: column;
}

.focused{
    /*
    border: 1px solid cyan;
    box-sizing: border-box; // this does not work, it should prevent the content size from resizing when showing border
    */
    border-left: 5px solid cyan;
}

.entryEnterButton {
    flex: 1;
    cursor: pointer;
}
.icon {
    flex: 0;

    padding: 2;
    padding-left:10;
    padding-right:10;

    margin-left:5;
    margin-right:5;
}
.deletebutton {
    width: 25px;
    font-size: 140%;
    color:red;
    text-align: center;

    border: 2px solid red;
    border-radius: 100%;

    cursor: pointer;
}
.subcounter {
    background-color: #fff3;

    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;

    /*
    should allow click through...
    pointer-events: none;
    */
}
.clientIdLabel{
    text-align: right;
    padding: 2px;
    font-family: monospace;
    color: grey;
    font-size: 10pt;
    background-color: transparent;
    flex-wrap: wrap;
}
